@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather-app {
  background-color: #f5f7fa;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card-container {
  background-color: white;
  border-radius: 24px;
  padding: 2.5rem;
  padding-bottom: 2.5rem;
  width: 100%;
  min-height: 300px;
  position: relative;
  max-width: 420px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background: linear-gradient(135deg, #ffffff 0%, #f8f9fa 100%);
  text-align: center;
}

.weather-icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  font-weight: 750;
  font-size: 2.6rem;
  color: #2c3e50;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 1.5rem;
  margin-bottom: 2rem;
}

.search-input {
  width: 100%;
  padding: 16px 50px 16px 20px;
  border: 1px solid #ddd;
  border-radius: 35px;
  font-size: 1.1rem;
  outline: none;
  transition: border 0.3s;
}

.search-input:focus {
  box-shadow: 0 0 0 3px rgba(12, 18, 32, 0.2);
}

.search-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.4rem;
  color: #2c3e50;
  transition: transform 0.2s ease, color 0.2s ease;
}

.search-icon:hover {
  transform: translateY(-50%) scale(1.15);
  color: #2563eb;
}

.weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  animation: fadeIn 0.5s ease-in-out;
  transition: opacity 0,3s ease, transform 0.3s ease;
}

.other-data{
  display: flex;
  gap: 1.5rem;
  margin: 0;
}


@keyframes fadeIn{
  from {opacity: 0; transform: translateY(10px); }
  to {opacity: 1; transform: translateY(0);}
}

.city {
  font-weight: 550;
  font-size: 2rem;
  color: #2c3e50;
}

.temperature {
  color: #2c3e50;
  font-size: 4rem;
  font-weight: 300;
  margin: 1rem 0;
}

.description {
  color: #6c757d;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.humidity {
  color: #6c757d;
  font-size: 1.3rem;
}

@media (max-width: 480px) {
  .card-container{
    padding: 2rem;
  }
  .weather-app {
    padding: 1.5rem;
  }
  .title {
    font-size: 1.8rem;
  }
  .temperature {
    font-size: 2.5rem;
  }
  .humidity{
    font-size: 1rem;
  }
  .description{
    font-size: 1rem;
  }
}